.header_nav {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* margin-left: 44px; */
    width: 100%;
    max-width: 800px;
    text-align: center;
    height: 100%;
    align-items: center;
}

.header_nav_links {
    text-decoration: none;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    font-size: 11px;
    padding: 0 5px;
}

.active_tab {
    background-color: #00635b;
    color: white;
    position: relative;
}

.active_tab::after {
    z-index: -1;
    width: 1.6rem;
    height: 1.6rem;
    transform: rotate(45deg);
    content: "";
    display: block;
    position: absolute;
    /* top: -0.8375rem; */
    left: 50%;
    bottom: -12px;
    border-top-left-radius: 0.25rem;
    background-color: #00635b;
    transform: translate(-50%, 0) rotate(45deg);
}

@media screen and (min-width: 480px) {
    .header_nav_links {
        font-size: 12px;
    }
}
@media screen and (min-width: 780px) {
    .header_nav_links {
        font-size: unset;
    }
}
